<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
</head>
<body>
<a th:href="@{/book/list}"><h1>Book List</h1></a>
<div>
  <p>Number: <span th:text="${book.number}"></span></p>
  <p>Title: <span th:text="${book.title}"></span></p>
  <p>Content: <span th:text="${book.content}"></span></p>

  <button><a th:href="@{/book/edit/{id}(id=${book.number})}">글 수정</a></button>
  <form th:action="@{/book/delete/{id}(id=${book.number})}" method="post">
    <button type="submit">글 삭제</button>
  </form>

</div>
</body>
</html>
